.straight-line {
    width: 15%;
    border-bottom: 4px solid white;
    margin: 2vh 0 6vh;
}

.h1-title {
    margin: 0;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 900;
}
.contact {
    color: white;
}

.box-contact {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

.p-contact, .a-contact {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}

.icon-contact {
    font-size: 40px;
    margin: 0 15px 0 0;
    width: 40px !important;
}

.cp-text {
    border: none;
    font-size: 20px;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 10px;
    outline: none;
    color: black;
}

.cp-text:hover {
    color: white;
    box-shadow: inset 0px 40px black;
}

.cpt-rs {
    opacity: 0;
}

.cpt-rs-off {
    opacity: 1 !important;
}

@media (max-width: 1600px) {
    .h1-title { font-size: 56px; }
    .straight-line { border-width: 3px; margin: 1.75vh 0 5vh; }
    .p-contact, .a-contact { font-size: 18px; }
    .icon-contact { font-size: 36px; }
}

@media (max-width: 1440px) {
    .h1-title { font-size: 52px; }
    .straight-line { border-width: 2.5px; margin: 1.5vh 0 4vh; }
    .p-contact, .a-contact { font-size: 16px; }
    .icon-contact { font-size: 32px; }
}

@media (max-width: 1360px) {
    .h1-title { font-size: 46px; }
    .straight-line { border-width: 2px; margin: 1.25vh 0 3vh; }
    .content-box { padding-top: 16vh }
    .icon-contact { font-size: 28px; margin-right: 10px; }
    .cp-text { padding: 4px 13px ; font-size: 18px ; border-radius: 8pxp;}
}

@media (max-width: 1080px) {
    .h1-title { font-size: 38px; }
    .straight-line { border-width: 1.5px; margin: 1vh 0 2vh; }
    .p-contact, .a-contact { font-size: 13px; }
    .icon-contact { font-size: 24px; margin-right: 8px; }
    .cp-text { padding: 3px 11px; font-size: 14px; border-radius: 6px;}
}

@media (max-width: 880px) {
    .h1-title { font-size: 28px; }
    .straight-line { border-width: 1px; margin: 0.75vh 0 1vh; }
    .p-contact, .a-contact { font-size: 12px; }
    .icon-contact { font-size: 20px; margin-right: 5px; }
    .cp-text { padding: 2px 10px; font-size: 12px; border-radius: 5px;}
}