@font-face {
    font-family: 'Futura Hv BT';
    src: url(../lib/fonts/FuturaHeavyBT.ttf);
    font-style: normal;
    line-height: 178.87%;
}
@font-face {
    font-family: 'Futura Md BT';
    src: url(../lib/fonts/futuramediumbt.ttf);
    font-style: normal;
    line-height: 178.87%;
}
@font-face {
    font-family: 'Futura Lt BT';
    src: url(../lib/fonts/futuralightbt.ttf);
    font-style: normal;
    line-height: 178.87%;
}
@font-face {
    font-family: 'Be Vietnam Pro Medium';
    src: url(../lib/fonts/BeVietnamPro-Medium.ttf);
    font-style: normal;
    line-height: 178.87%;
}

body {
    background: url(../data/bg_and_logo/noise.webp);
}

* {
    font-family: Futura Hv BT;
    transition: all ease 0.5s;
}

.straight-line {
    border-top: 5px solid white;
    width: 35%;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 8vh;
    left: 3vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.navbar > .row {
    margin: 0;
}

.a-menu:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
    z-index: -1;
}

.a-menu:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.a-menu {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 7px 0;
    position: relative;
    display: block;
    width: 183px;
}

.a-menu-k-1 {
    position: absolute;
    bottom: 0;
}

.a-logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 0 0 5vh;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-market {
    position: fixed;
    top: 8vh;
    right: 4vw;
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
    z-index: 1;
}

.ft-h6 {
    text-align: right;
    color: white;
    font-size: 18px;
    padding: 0 4vw 4vh 0;
    display: block;
}

.firts-box {
    border-left: 2px solid white;
    padding: 0 0 0 15px;
    height: 450px;
    position: relative;
}

.content-box {
    padding: 10vh 0 0;
    min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title-all {
    color: white;
}

.title-all > a {
    color: white;
    text-decoration: none;
}

.title-all > a:hover {
    color: #0d6efd;
}

.long-hr {
    border-color: white;
    border-top-width: 5px;
    opacity: 1;
    width: 50%;
}

.title-ss {
    margin: 0 0 5vh;
}

.custom-button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    padding: 0.5vh 2vh;
    font-size: 18px;
    background: #929292;
    color: black;
}

.custom-button:hover {
    background: white;
}

.alert-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: #000000a6;
    color: white;
}

.alert-box-hide {
    visibility: hidden;
    opacity: 0;
}

.menu-bar {display: none;color: white;border: none;background: black;border-radius: 6px;font-size: 30px;line-height: 0;padding: 4px 6px;margin: 0 3vh;text-align: center;};

@media (max-width: 1600px) {
    .navbar {top: auto;left: 0;width: 100%;flex-direction: row;padding: 1vh 10vw;background: #000000c4; position:fixed; }
    .navbar > .firts-box  {border: none;height: fit-content;padding: 0;}
    .a-logo {font-size: 24px;margin: 0;letter-spacing: 1px;}
    .a-menu {font-size: 22px;padding: 10px 25px;letter-spacing:1px;display: table-cell;text-align: center;width: auto;}
    .p-market { display: none; }
}

@media (max-width: 1440px) {
    .navbar {top: auto;left: 0;width: 100%;flex-direction: row;padding: 1vh 10vw;background: #000000c4; position:fixed; }
    .navbar > .firts-box  {border: none;height: fit-content;padding: 0;}
    .a-logo {font-size: 22px;margin: 0;letter-spacing: 1px;}
    .a-menu {font-size: 20px;padding: 8px 22px;letter-spacing:1px;display: table-cell;text-align: center;width: auto;}
    .p-market { display: none; }
    .ft-h6 { display: none; }
    .content-box{ padding: 11vh 0 0 }
    .title-ss { margin: 0 0 4.25vh}
}

@media (max-width: 1360px) {
    .navbar {top: auto;left: 0;width: 100%;flex-direction: row;padding: 2vh 8vw;background: #000000c4; position:fixed; }
    .navbar > .firts-box  {border: none;height: fit-content;padding: 0;}
    .a-logo {font-size: 22px;margin: 0;letter-spacing: 1px;}
    .a-menu {font-size: 20px;padding: 6px 18px;letter-spacing:1px;display: table-cell;text-align: center;width: auto;}
    .p-market { display: none; }
    .ft-h6 { display: none; }
    .content-box{ padding: 13vh 0 2vh }
    .title-ss { margin: 0 0 3.5vh}
}

@media (max-width: 1080px) {
    .navbar {top: auto;left: 0;width: 100%;flex-direction: row;padding: 2vh 0;background: #000000c4; position:fixed; }
    .navbar > .firts-box  {border: none;height: fit-content;padding: 0;}
    .a-logo {font-size: 22px;margin: 0;letter-spacing: 1px;padding: 1vh 3vh;}
    .a-menu {font-size: 20px;padding: 6px 16px;letter-spacing:1px;display: table-cell;text-align: center;width: auto;}
    .p-market { display: none; }
    .ft-h6 { display: none; }
    .content-box{ padding: 15vh 0 3vh }
    .title-ss { margin: 0 0 2.75vh}
}

@media (max-width: 880px) {
    .navbar {top: auto;left: 0;width: 100%;padding: 2vh 0;background: #00000090;position: fixed;}
    .navbar > .firts-box  {border: none;height: fit-content;padding: 0;display: flex;flex-direction: column;position: absolute;margin: 0 auto;left: 0;right: 0;top: 0;background: #000000cc;}
    .a-logo {font-size: 22px;margin: 0;letter-spacing: 1px;padding: 1vh 3vh;}
    .a-menu {font-size: 20px;padding: 10px 16px;letter-spacing:1px;display: table-cell;text-align: center;width: auto;}
    .p-market { display: none; }
    .ft-h6 { display: none; }
    .menu-bar { display: block; }
    .menu-bar:hover {border: 1px solid white;}
    .goup { transform:translateY(-100%); }
    .content-box{ padding: 17vh 0 4vh }
    .title-ss { margin: 0 0 2vh}
}