.title-all {
    margin: 0;
}

.h1-title {
    font-size: 70px;
}

.vitural {
    color: white;
}

.straight-line {
    width: 10%;
    border-bottom: 4px solid white;
    margin: 3vh 0;
}

.p-vir-str {
    margin: 30px 0;
}

.p-vir {letter-spacing: 1px;font-size: 17px;}

.box-vid-embeded {
    background: black;
}

.imgs-box {
    overflow: hidden;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs-box:hover .img-thumb {
    scale: 1.1;
}

.imgs-box:hover {
    box-shadow: 0 0 1px 2px white;
}

.img-thumb {
    width: 100%;
}

@media (max-width: 1600px) {
    .h1-title { font-size: 70px; }
}

@media (max-width: 1440px) {
    .h1-title { font-size: 64px; }
    .straight-line { margin: 2.5vh; border-width: 3.5px; }
}

@media (max-width: 1360px) {
    .h1-title { font-size: 58; }
    .straight-line { margin: 2.5vh; border-width: 3px; }
}

@media (max-width: 1080px) {
    .h1-title { font-size: 50px; }
    .straight-line { margin: 1.75vh; border-width: 2.5px; }
}

@media (max-width: 880px) {
    .h1-title { font-size: 40px; }
    .straight-line { margin: 1vh; border-width: 2px; }
}